<div class="form">
   <center> <img src="{{url_for('static',filename='images/user.svg')}}" alt="" srcset="" width="50" class="user"></center>
    <h3>Add Employee Info</h3> 

    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="" class="form-control">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" name="age" id="" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="" class="form-control">
            <option >Choose Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>

        </select>
    </div>

    <div class="form-group">
        <label for="residence">Residence</label>
        <input type="text" name="residence" id="" class="form-control">
    </div>

    <div class="form-group">
        <label for="name">Salary</label>
        <input type="number" name="salary" id="" class="form-control">
    </div>

    <div class="form-group">
        <input type="submit" value="Add Employee" class="btn btn-primary">
    </div>
</div>