<h3>Update Info</h3>
<div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" name="name" id="" class="form-control" value="{{user.name}}">
</div>

<div class="form-group">
    <label for="name">Age</label>
    <input type="number" name="age" id="" class="form-control" value="{{user.age}}">
</div>


<div class="form-group">
    <label for="gender">Choose Gender</label>
    <select name="gender" id="" class="form-control" disabled>
        <option value="Male">{{user.gender}}</option>
       
    </select>
</div>


<div class="form-group">
    <label for="residence">Residence</label>
    <input type="text" name="residence" id="" class="form-control" value="{{user.residence}}">
</div>

<div class="form-group">
    <label for="salary">Salary</label>
    <input type="number" name="salary" id="" class="form-control" value="{{user.salary}}">
</div>

<div class="form-group">
    <input type="submit" value="Update Info" class="btn btn-success">
</div>