{% extends 'layout.html' %}
{% block body %}
{% with messages =get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }} 
                </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    


{% if employees %}
<h1>Table of Employees</h1>
<table class="table table-striped">
    <thead>
        <tr> <th></th>
             <th>Name</th>
             <th>Age</th>
             <th>Gender</th>
             <th>Residence</th>
             <th>Salary</th>
             <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
       {% for e in employees %}
           <tr>
               <td><img src="{{url_for('static',filename='images/user.svg')}}" alt="" srcset="" width="20" class="user"></td>
               <td>{{ e.name }}</td>
               <td>{{ e.age }}</td>
               <td>{{ e.gender }}</td>
               <td>{{ e.residence }}</td>
               <td>{{ e.salary }}</td>
               <td><a href="/update/{{e.id}}" class="btn btn-success">+</a></td>
               <td><a href="/delete/{{e.id}}" class="btn btn-danger">x</a></td>

           </tr>
       {% endfor %}
           
    </tbody>
</table>    
{% else %}
    <h1>No Records In the Database</h1>
{% endif %}
{% endblock body %}
    